---
// Component imports and setup JavaScript go here!
import BaseLayout from '../layouts/BaseLayout.astro'

const title = "Contact Us!"
---

<style lang="scss" scoped>
div{
	h1 {
		color: lightblue;
	}
}
</style>
<BaseLayout title= {title}}>
	<div>
   		<h1>{title}</h1>
   		<p>Hello I'm on the contact page</p>
   </div>
   <h1>Testing another Heading</h1>
</BaseLayout>
